<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cats VS {{name}}!</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Tutum dev team">
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
  </head>
  <body>
    <div class="hostname">
      {{hostname}}
    </div>
    <form id="choice" name='form' method="POST" action="/">
      <input id="cats" type="submit" name="cats" class="cats" value="Cats">
      <input id="dogs" type="submit" name="cats" class="dogs" value="Dogs">
    </form>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
      if($.cookie("vote") == "cats"){
        $(".cats").prop('disabled', true);
        $(".cats").css('text-decoration','underline');
      }
      if($.cookie("vote") == "dogs"){
        $(".dogs").prop('disabled', true);
        $(".dogs").css('text-decoration', 'underline');
      }
    </script>
  </body>
</html>
